<p id="notice"><%= notice %></p>
<br>
<div class="menu">
  <h1>Share images of your dogs with pet owners across the world!</h1>
  <p>Pawgram allows you to bulk add and manage images of your pets, and explore other dogs from across the world</p>
  <%= link_to 'Add Dog', new_dog_path %>
  <br>
  <br>
  <br>
  <h1>Browse pets: </h1>
  <br>
</div>
</br>


<div class="cards">

  <% @dogs.each do |dog| %>
    <div class="card">
      <%= image_tag dog.avatar.variant(resize_to_limit: [400, 400]) %>
      <div class="container">
        <h4><b><%= dog.name %></b></h4> 
        <p><%= dog.breed %></p> 
        <p><%= link_to 'Profile', dog %> <%= link_to 'Add Photos', edit_dog_path(dog) %></p>
      </div>
    </div>
  <% end %>
</div>
