<p id="notice"><%= notice %></p>

<h1>Dogs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><%= image_tag dog.avatar.variant(resize_to_limit: [50, 50]) %>
</td>
        <td><%= dog.name %></td>
        <td><%= dog.age %></td>
        <td><%= dog.breed %></td>
        <td><%= link_to 'Profile', dog %></td>
        <td><%= link_to 'Add/Edit Photos', edit_dog_path(dog) %></td>
        <td><%= link_to 'Delete', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
