<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p> Avatar btw </p>
<%= image_tag(@dog.avatar, :size => "100x100", :crop => :fill)  %>

<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<ul>
  <% @dog.images.each do |file| %>
    <li>
      <% if file.representable? %>
        <%= image_tag(file, :size => "100x100", :crop => :fill) %>
      <% else %>
        <%= link_to rails_blob_path(file, disposition: "attachment") do %>
          <%= image_tag "placeholder.png", alt: "Download file" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>